/* Import the Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine');


.social-media-ico
{
  float: left;
  display: block;
}

.social-media-ico a
{
  margin: 10px;
}

/* General styling for navigation */
.nav-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 100;
  left: 0;
  width: 100%;
  padding: 0;
  text-shadow: 20px;
}

.nav-flex-row li {
  text-decoration: none;
  list-style-type: none;
  padding: 20px 15px;
}

.nav-flex-row li a {
  font-family: 'Big Shoulders Text', cursive;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
}

/* Styling for the intro section */
.section-intro {
  height: 920px;
  background-image: url(img/home-background.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  overflow: hidden; /* Hide overflowing content */
  position: relative; /* Needed for absolute positioning of text */
}

.section-intro h1 {
  /* Styling for the animated heading */
  text-shadow: 0 20px 0 0 rgba(68, 145, 218, 0.26);
  /* box-shadow: 0 2px 5px 20px rgba(102, 172, 238, 0.26); */
  font-family: 'Tangerine', serif;
  font-size:15em;
  text-decoration-line: red;
  font-style: oblique;
  font-weight: bold;
  font-weight: bolder;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: purple;
  -webkit-text-stroke: 5px rgb(4, 54, 10);
  text-align: left;
  position: absolute; /* Position absolutely for scrolling */
  animation: neon 1s linear infinite alternate;

}

.neon {
  font-size: 30px;
  color: green;
  text-align: center;
  animation: neon 1s ease-in-out infinite alternate;
}

/* Keyframes for the text scrolling animation */
/* @keyframes scrollText {
  0% {
    transform: translateX(-40%); 
  }
  100% {
    transform: translateX(40%); 
  }
} */
@keyframes neon {
  from {
      text-shadow: 0 0 10px rgb(43, 255, 0),
                  0 0 20px rgb(93, 236, 64),
                  0 0 30px #89f773,
                  0 0 40px #99f886,
                  0 0 50px #b5faa7,
                  0 0 60px #cff5c8,
                  0 0 70px #ddf3d9;
  }
  to {
      text-shadow: 0 0 20px #edf8fa;
                  0 0 30px #4dff7a;
                  0 0 40px #4dff7a,
                  0 0 50px #4dff7a,
                  0 0 60px #4dff7a,
                  0 0 70px #4dff7a,
                  0 0 80px #4dff7a;
  }
}

.section-intro header {
  display: flex;
  flex: 4;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.link-to-book-wrapper {
  flex: 1;
}


.about-section {
  font-family: 'Tangerine', serif;
  text-shadow: 4px 4px 4px #aaa;
  display: flex;
  align-items: center;
  background-color: #f3f3f3c0;
  padding: 50px 30px;
}

.link-to-book {
  color: #ffffff;
  display: block;
  border: 2px solid #ffffff;
  padding: 5px 10px;
}

.link-to-book:hover {
  background-color: #ffffff;
  color: #95999e;
  text-decoration: none;
}

.about-section p,
.about-section h3 {
  text-align: center;
  width: 60%;
  margin: auto;
  font-family: 'Big Shoulders Text', cursive;
  font-size: 1.8em;
  text-transform: uppercase;
}


.carousel-inner {
  height: 700px;
  display: flex;
}


.row-flex {
  display: flex;
  flex-direction: row;
}


.flex-column-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px 20px;
}

.btn.btn-primary {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  font-family: 'Big Shoulders Text', cursive;
  color: #ffffff;
  background-color: #95999e;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 10px;
  letter-spacing: 2px;
  border: 1px solid transparent;
}

.btn.btn-primary:hover {
  background-color: #747474;
}


.opening-time,
.contact-adress {
  flex: 1;
  margin: 30px 20px;
  font-size: 1.2em;
}


.form-group p {
  font-size: 1.2em;
}


.opening-time p span,
.contact-adress p span {
  display: block;
}

/* Media query for screens between 577px and 800px */
/* @media (min-width: 577px) and (max-width: 800px) {
  .section-intro {
    height: 500px;
  }

  .about-section p,
  .about-section h3 {
    font-size: 20px;
  }

  .carousel-inner {
    height: auto;
  }

  .row-flex {
    display: flex;
    flex-direction: column;
  }

} */

/* Media query for screens with a maximum width of 767px */
@media (max-width: 767px) {
  .section-intro span {
    font-size: 13px; /* Adjust the font size as needed for mobile */
  }
}

/* Additional media query for screens with a maximum width of 576px */
@media screen and (max-width: 576px) {
  .social-media-ico
{
  float: left;
 align-items: center;
 justify-items: center;
 margin-top: 1%;
 scroll-padding-bottom: 60%;



}
  .section-intro {
    height: 300px;
  }

  .about-section {
    padding: 30px;
  }

  .section-intro h1 {
    border-color: #edf8fa;
    font-style: justify;
    font-display: small;
    font-size: 2.5em;
    font-weight: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: scrollText1 2s linear infinite alternate;
  }
    /* text-justify: #ffffff;
    animation: neon 5s linear infinite alternate;    
  } */
  @keyframes scrollText1 {
    0% {
      transform: translateX(-5%); 
    }
    100% {
      transform: translateX(35%); 
    }
  }


  .social-media-ico
{
  float: center;
}

  .about-section p,
  .about-section h3 {
    font-size: 15px;
  }

  .carousel-inner {
    height: auto;
  }

  .row-flex {
    display: flex;
    flex-direction: column;
  }

  .row-flex h3 {
    font-size: 25px;
    text-align: center;
  }

  .form-group p {
    font-size: 15px;
  }

  .opening-time p span,
  .contact-adress p span {
    font-size: 15px;
    text-align: center;
  }
}
